@import "theme.css";

.rst-content a {
  color: #cc0000;
}

/*
  Admonition Styles
*/

/* Custom Success */

.admonition.success {
  background-color: #d4edda;
  color: #155724;
}

.admonition.success .admonition-title {
  background-color: #2a8b40;
}

/* Custom Warning */

.admonition.warning {
  background-color: #fff3cd;
  color: #856404;
}

.admonition.warning .admonition-title {
}

/* Custom Danger */

.admonition.danger {
  background-color: #f8d7da;
  color: #721c24;
}

.admonition.warning .admonition-title {
}

/* Custom Note */

.admonition.note {
  background-color: #d1ecf1;
  color: #0c5460;
}

.admonition.note .admonition-title {
}

/*
  General Styles
*/

/* Custom Paragraph */

p {
  line-height: revert;
  font-size: 16px;
}

.rst-content .section ol p, .rst-content .section ul p {
  margin-bottom: 0;
}